<h3> Resultado da pesquisa</h3>

<tbody>
	<% @contatos.each do |contato| #for enquanto tiver produtos<%>
<tr>
		<td>Nome: <%= contato.nome %></td>
	<td>  </td>
		<td> Email: <%= contato.email %></td>
	</tr>
</br>
	<% end %>
</tbody>
</br>
<td><%= link_to 'Voltar',"contatos" %></td>
